<!--The content below is only a placeholder and can be replaced.-->
<div id="mainContent" style="text-align:center">
  <img width="100%" [src]="backgroundImagePath">
</div>
<div class="feedback">
    <div class="feedback-icon" (click)="showDropDown = !showDropDown">
        <img title="Feedback" [src]="over ? './assets/smile_active.svg' : './assets/smile_normal.svg'" 
        (mouseover)="over = true"
        (mouseout)="over = false">
  </div>
  <div class="feedback-box" *ngIf="showDropDown">
    <ul class="feedback-list">
        <li class="feedback-item">
          <img [src]="smileyImagePath" title="Happy" (click)="openModal('happy')">
        </li>
        <li class="feedback-item" value='bad'>
            <img [src]="frownImagePath" title="Unhappy"  (click)="openModal('sad')">
        </li>
    </ul>
  </div>
</div>

<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}"  style="overflow-y:scroll">
  <div  [class]="showFeedbackText ? 'modal-dialog' : 'modal-dialog modal-sm'" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
        <div style="font-size:14px;font-weight:bold;" class="modal-title">Thanks for your feedback</div>
      </div>
      <div class="modal-body" *ngIf="!showFeedbackText">
        <p style="text-align:center;">Thanks you just made our day!</p>
      </div>
      <div class="modal-body" *ngIf="showFeedbackText">
          <p>How can we make this product work better for you?</p>
          <textarea style="background-color:white;" (change)="doTextareaValueChange($event)" rows="10" cols="60">                             
              {{textareaValue}}
          </textarea>
          <button type="button" (click)="onInclude()"><span aria-hidden="true">&times;</span>Include Screenshot</button>
          <div id="box1"></div>  
      </div>
      <div style="text-align: right;padding: 10px;">
          <button type="button" class="btn btn-default done" (click)="onCloseHandled()">Done</button>
          <button *ngIf="showFeedbackText" type="button" class="btn btn-default" (click)="onCancelHandled()">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal !-->

